
Library/EditorInstance.json
Temp/UnityLockfile
Library/UIElements/EditorWindows/UnityEditor.PackageManager.UI.PackageManagerWindow.pref
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/PackageManagerSettings.asset
